<form method="post" action="create_user_post">
    <p> <input type="text" value=""   name="username"> : username</p>
    <p>  <input type="text" value="" name="password"> : password</p>
    <p><input type="submit" value="Save"></p>
	<h3> <%= result %></h3>
</form>